/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');
/*global*/
:root {
    --clr-green: hsl(75, 94%, 57%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-700: hsl(0, 0%, 20%);
    --clr-grey-800: hsl(0, 0%, 12%);
    --clr-grey-900: hsl(0, 0%, 8%);
  
    --ff-base: "Inter", sans-serif;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}
*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
  }
/*contains*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img {
    display: block;
    max-width: 100%
}
p {
    overflow-wrap: break-word;
    text-wrap: pretty;
  }
  
h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;  
   text-wrap: balance;
  }
#root, #__next {
    isolation: isolate;
}
.page {
    --page-padding: 1.5rem;
    background-color: var(--clr-grey-900);
    font-family: var(--ff-base);
    padding: 0 var(--page-padding);
  }
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }